In [1]:
import os
import numpy as np
import pandas as pd

%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [3]:
DATASET_PATH = 'data'

# train.csv

10	경부선
100	남해선(순천-부산)
101	남해선(영암-순천)
120	광주대구선
121	무안광주선
140	고창담양선
150	서해안선
160	울산선
200	대구포항선
201	익산장수선
251	호남선
270	순천완주선
300	청주영덕선
301	당진대전선
351	통영대전선
352	중부선
370	제2중부선
400	평택제천선
450	중부내륙선
500	영동선
550	중앙선
600	서울양양선
650	동해선(삼척-속초)
652	동해선(부산-포항)
1000	서울외곽순환선
1020	남해1지선
1040	남해2지선
1100	제2경인선
1200	경인선
1510	서천공주선
2510	호남지선
3000	대전남부선
4510	중부내륙지선
5510	중앙선지선
6000	부산외곽선

In [34]:
origin_df = pd.read_csv(os.path.join(DATASET_PATH, 'train.csv'))  # 비식별화된 도로 35개 컬럼

#### 시계열 데이터는 head, tail 참고해야 한대

In [35]:
origin_df.head()

,날짜,시간,10,100,101,120,121,140,150,160,...,1020,1040,1100,1200,1510,2510,3000,4510,5510,6000
0,20200101,0,83247,19128,2611,5161,1588,892,32263,1636,...,1311,3482,11299,7072,1176,3810,748,3920,2133,3799
1,20200101,1,89309,19027,3337,5502,1650,1043,35609,1644,...,1162,3849,13180,8771,1283,3763,782,3483,2057,4010
2,20200101,2,66611,14710,2970,4631,1044,921,26821,1104,...,768,2299,7986,5426,1536,3229,491,2634,1526,3388
3,20200101,3,53290,13753,2270,4242,1021,790,21322,909,...,632,1716,5703,3156,1104,2882,431,2488,1268,3686
4,20200101,4,52095,17615,2406,3689,1840,922,22711,1354,...,875,2421,5816,2933,1206,2433,499,2952,1927,5608

In [36]:
origin_df.tail()

,날짜,시간,10,100,101,120,121,140,150,160,...,1020,1040,1100,1200,1510,2510,3000,4510,5510,6000
3274,20200517,19,311727,101285,10085,30637,10060,8749,148935,6801,...,6726,15431,25597,14292,9300,22238,3786,16936,10729,20194
3275,20200517,20,305354,91426,8607,26021,8095,7198,136503,6147,...,5501,15378,24661,14747,8239,20604,3203,15018,9767,17962
3276,20200517,21,306008,75113,6325,19933,5711,4494,129412,5134,...,4216,12558,22781,14081,6392,17937,2447,12403,7825,14031
3277,20200517,22,237447,49498,4209,12145,3891,2718,96698,3526,...,2578,8870,16640,11066,4427,11955,1495,7507,5387,8889
3278,20200517,23,150312,27410,2350,6406,1803,1614,55788,1849,...,1377,5021,10058,7139,2250,6844,735,4116,3046,4606

# 월별, 요일별, 평일주말, 오전오후 생성

In [79]:
df = origin_df.copy()

In [80]:
# int to datetime type

df['date'] = df['날짜'].astype(str)
df['date'] = pd.to_datetime(df['date'])
df['datet'] = df['date'].dt.tz_localize('UTC')

df

,날짜,시간,10,100,101,120,121,140,150,160,...,1100,1200,1510,2510,3000,4510,5510,6000,date,datet
0,20200101,0,83247,19128,2611,5161,1588,892,32263,1636,...,11299,7072,1176,3810,748,3920,2133,3799,2020-01-01,2020-01-01 00:00:00+00:00
1,20200101,1,89309,19027,3337,5502,1650,1043,35609,1644,...,13180,8771,1283,3763,782,3483,2057,4010,2020-01-01,2020-01-01 00:00:00+00:00
2,20200101,2,66611,14710,2970,4631,1044,921,26821,1104,...,7986,5426,1536,3229,491,2634,1526,3388,2020-01-01,2020-01-01 00:00:00+00:00
3,20200101,3,53290,13753,2270,4242,1021,790,21322,909,...,5703,3156,1104,2882,431,2488,1268,3686,2020-01-01,2020-01-01 00:00:00+00:00
4,20200101,4,52095,17615,2406,3689,1840,922,22711,1354,...,5816,2933,1206,2433,499,2952,1927,5608,2020-01-01,2020-01-01 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,20200517,19,311727,101285,10085,30637,10060,8749,148935,6801,...,25597,14292,9300,22238,3786,16936,10729,20194,2020-05-17,2020-05-17 00:00:00+00:00
3275,20200517,20,305354,91426,8607,26021,8095,7198,136503,6147,...,24661,14747,8239,20604,3203,15018,9767,17962,2020-05-17,2020-05-17 00:00:00+00:00
3276,20200517,21,306008,75113,6325,19933,5711,4494,129412,5134,...,22781,14081,6392,17937,2447,12403,7825,14031,2020-05-17,2020-05-17 00:00:00+00:00
3277,20200517,22,237447,49498,4209,12145,3891,2718,96698,3526,...,16640,11066,4427,11955,1495,7507,5387,8889,2020-05-17,2020-05-17 00:00:00+00:00
3278,20200517,23,150312,27410,2350,6406,1803,1614,55788,1849,...,10058,7139,2250,6844,735,4116,3046,4606,2020-05-17,2020-05-17 00:00:00+00:00

In [91]:
df['month'] = df['datet'].dt.month
df['dayofweek'] = df['datet'].dt.dayofweek  # 요일을 정수로 추출 (0:월요일 ~ 6:일)

In [89]:
# # 오전 오후 구분 : 오전=0, 오후=1
con = df['시간'] >= 12

df['pm'] = 0 
df.loc[con,'pm'] = 1

# 주말 구분 : 평일=0, 주말=1 (설날 별도 설정 or 삭제)
con = df['dayofweek'] >= 5

df['holiday'] = 0
df.loc[con,'holiday'] = 1

In [92]:
df.head(20)

,날짜,시간,10,100,101,120,121,140,150,160,...,3000,4510,5510,6000,date,datet,month,dayofweek,pm,holiday
0,20200101,0,83247,19128,2611,5161,1588,892,32263,1636,...,748,3920,2133,3799,2020-01-01,2020-01-01 00:00:00+00:00,1,2,0,0
1,20200101,1,89309,19027,3337,5502,1650,1043,35609,1644,...,782,3483,2057,4010,2020-01-01,2020-01-01 00:00:00+00:00,1,2,0,0
2,20200101,2,66611,14710,2970,4631,1044,921,26821,1104,...,491,2634,1526,3388,2020-01-01,2020-01-01 00:00:00+00:00,1,2,0,0
3,20200101,3,53290,13753,2270,4242,1021,790,21322,909,...,431,2488,1268,3686,2020-01-01,2020-01-01 00:00:00+00:00,1,2,0,0
4,20200101,4,52095,17615,2406,3689,1840,922,22711,1354,...,499,2952,1927,5608,2020-01-01,2020-01-01 00:00:00+00:00,1,2,0,0
5,20200101,5,62591,24078,3981,4219,5097,1371,32685,2259,...,649,3620,2798,10466,2020-01-01,2020-01-01 00:00:00+00:00,1,2,0,0
6,20200101,6,72799,25743,4381,6012,8153,1416,39633,2293,...,850,4107,2895,10407,2020-01-01,2020-01-01 00:00:00+00:00,1,2,0,0
7,20200101,7,98367,27781,2999,7329,3232,1444,44490,2306,...,1218,4702,2727,5933,2020-01-01,2020-01-01 00:00:00+00:00,1,2,0,0
8,20200101,8,138272,40870,5948,11362,6694,2230,65776,3867,...,1573,7166,4118,12344,2020-01-01,2020-01-01 00:00:00+00:00,1,2,0,0
9,20200101,9,204720,67043,10705,18562,10834,4641,98809,6573,...,2913,10583,6812,17923,2020-01-01,2020-01-01 00:00:00+00:00,1,2,0,0
10,20200101,10,285893,99797,14720,29880,10909,7379,141537,8493,...,4253,16357,10540,23856,2020-01-01,2020-01-01 00:00:00+00:00,1,2,0,0
11,20200101,11,324836,117312,17728,37229,14061,9080,169222,9637,...,5226,19499,12450,26457,2020-01-01,2020-01-01 00:00:00+00:00,1,2,0,0
12,20200101,12,320617,114738,16297,36836,12527,8978,168859,9194,...,4897,18495,11790,26040,2020-01-01,2020-01-01 00:00:00+00:00,1,2,1,0
13,20200101,13,331264,112008,15653,34422,12248,8893,166177,9205,...,4945,18552,11768,26454,2020-01-01,2020-01-01 00:00:00+00:00,1,2,1,0
14,20200101,14,359475,125019,17328,40589,13549,9726,178711,9782,...,5553,19919,12452,28077,2020-01-01,2020-01-01 00:00:00+00:00,1,2,1,0
15,20200101,15,384305,134822,19152,43201,14831,10980,184122,10564,...,5954,22694,13175,28629,2020-01-01,2020-01-01 00:00:00+00:00,1,2,1,0
16,20200101,16,387721,135540,18799,44617,14849,11174,179016,10813,...,6144,22056,12726,28912,2020-01-01,2020-01-01 00:00:00+00:00,1,2,1,0
17,20200101,17,354546,121618,15798,40036,13509,9544,159702,9605,...,5594,21196,12734,26324,2020-01-01,2020-01-01 00:00:00+00:00,1,2,1,0
18,20200101,18,299045,98718,11856,31429,10515,7540,126388,7893,...,4240,17885,10496,22406,2020-01-01,2020-01-01 00:00:00+00:00,1,2,1,0
19,20200101,19,272186,88057,9289,24260,8855,5603,115416,6624,...,3320,14296,8359,17273,2020-01-01,2020-01-01 00:00:00+00:00,1,2,1,0

# 시각화