https://dacon.io/competitions/official/235683/codeshare/2338?page=1&dtype=recent 참고

In [1]:
import pandas as pd
import numpy as np

from fbprophet import Prophet
from fbprophet.plot import add_changepoints_to_plot

from fbprophet.diagnostics import cross_validation
from fbprophet.diagnostics import performance_metrics
from fbprophet.plot import plot_cross_validation_metric

In [37]:
def df4prophet(df):
    # 피처를 시계열 피처로 변환
    df['날짜'] = df['날짜'].astype(str)
    df['날짜'] = pd.to_datetime(df['날짜'])

    df['시간'] = pd.to_datetime(df['시간'], format='%H').dt.time

    # 날짜와 시간 합쳐서 datetime으로 변경
    df['날짜시간'] = pd.to_datetime(df['날짜'].astype(str) + df['시간'].astype(str), format='%Y-%m-%d%H:%M:%S')
    df = df.drop(['시간','날짜'], axis=1)
    
    df.rename(columns = {'날짜시간' : 'ds'}, inplace=True)

    return df

# 데이터 호출 및 수정

In [38]:
tr_df = pd.read_csv('data/train.csv')
val_df = pd.read_csv('data/validate.csv')

tr_df.shape, val_df.shape

((3312, 37), (336, 37))

In [39]:
tr_df = df4prophet(tr_df)
val_df = df4prophet(val_df)

In [40]:
val_df

,10,100,101,120,121,140,150,160,200,201,...,1040,1100,1200,1510,2510,3000,4510,5510,6000,ds
0,77968,14429,1233,4021,981,881,28672,1064,2859,1549,...,2604,5239,4168,1155,3596,337,2262,1608,2337,2020-05-11 00:00:00
1,48679,9136,823,2618,654,572,17722,672,1940,1133,...,1870,3359,2558,1002,2157,257,1425,1018,1810,2020-05-11 01:00:00
2,33773,8199,578,2188,392,502,14464,579,1425,1211,...,1499,2646,2022,876,1959,232,1155,927,1530,2020-05-11 02:00:00
3,41511,9986,726,2817,555,646,17793,650,1678,1748,...,1730,3398,1967,912,2462,281,1477,959,1882,2020-05-11 03:00:00
4,78680,19509,1463,4720,825,1088,35125,997,2531,2304,...,2958,7369,4120,1569,4568,577,3155,1871,3656,2020-05-11 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,314226,98345,10625,28618,8316,6684,141675,6619,23535,8572,...,16118,23304,14082,8447,21694,2180,15746,10903,21014,2020-05-24 19:00:00
332,300001,87871,8226,22706,6981,5743,142933,6295,20953,7851,...,15297,21919,14526,7332,19732,1990,14096,10028,17787,2020-05-24 20:00:00
333,304150,71126,6002,18317,4939,3779,133110,4781,15242,6101,...,12685,21135,14403,5443,16967,1359,11670,7963,14041,2020-05-24 21:00:00
334,236751,44947,3575,11455,3135,2536,98582,3267,8849,4553,...,8093,14427,10914,3861,11397,859,7270,5194,8230,2020-05-24 22:00:00
335,143609,26137,2242,6166,1609,1391,54633,1899,5182,2422,...,4686,8732,6986,2161,6487,410,3963,2686,4690,2020-05-24 23:00:00

## dataset 분할

In [54]:
# 각 타겟별 데이터셋 분할
def dataset_split(df):
    columns = list(df.columns[:-1])
    dfs = []
    
    for i in columns:
        globals()[f'train{i}'] = df[['ds', i]].copy
        # dfs.append(globals()[f'train{i}'])
    return globals()[f'train{i}']

In [56]:
test = dataset_split(tr_df)
# test['train10']

In [61]:
test

<bound method NDFrame.copy of                       ds   6000
0    2020-01-01 00:00:00   3799
1    2020-01-01 01:00:00   4010
2    2020-01-01 02:00:00   3388
3    2020-01-01 03:00:00   3686
4    2020-01-01 04:00:00   5608
...                  ...    ...
3307 2020-05-17 19:00:00  20194
3308 2020-05-17 20:00:00  17962
3309 2020-05-17 21:00:00  14031
3310 2020-05-17 22:00:00   8889
3311 2020-05-17 23:00:00   4606

[3312 rows x 2 columns]>

In [67]:
import sklearn.model.

134